* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #36333c;
  color: #fff7fb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 2rem 0;
  text-align: center;
}

.inicio h1{
  width: 100%;
}

h2 {
  color: #fff7fb;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 2rem 0;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}

header, footer {
  background: #625e69;
  color: #fff7fb;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 1rem 4rem;
}

.div-logo{
  margin-left: 2rem;
}

.logo, .header-nav a {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  padding: 1rem;
}

.header-nav{
  margin-right:2rem
}

.header-nav ul, footer .footer-list{
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footer-list li{
  padding: 1rem;
}

.footer-list img{
  width: 4rem;
  padding: 0.5rem;
}

.inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.parrafo{
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.contenedor-tarjetas{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card{
  background-color: rgb(84, 93, 93);
  width: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem ;
}

.card img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
}


.bg-primary {
  background-color: #5b2daa;
}
.bg-secondary {
  background-color: #867759;
}

.text-light{
  color: #ffffff;
}

.text-dark{
  color: #e6e1e9;
}

.text-secondary{
  color: #f2c66d;
}

article {
  text-align: center;
}

.img-logo {
  width: 15rem;
}

.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-contacto {
  margin: 2rem 0;
}

.form-contacto {
  background-color: #4d425f;
  color: #efefef;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* sutil */
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2rem;
  align-items: center;
}

.grupo-input input,
.grupo-input textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  color: #2a1e35;
  background-color: #fff7fb;
  border: 2px solid #6e5a8e;
  border-radius: 0.8rem;
  outline: none;
}

.grupo-input textarea {
  min-height: 10rem;
  resize: vertical;
}
